Write a function that computes the volume of a sphere given its radius

In [1]:
def peach(radius):
    return (4/3)*(3.1415)*(radius**3)

In [2]:
peach(2)

33.50933333333333

Write a function that checks whether a number is in a given range (inclusive of high and low)

In [3]:
def basket_of_peaches(cherry,little,big):
    if cherry in range(little,big+1):
        print(f'{cherry} is in the range of {little} and {big}')
    else:
        print(f'{cherry} is not in the range of {little} and {big}')

In [4]:
# the check
basket_of_peaches(9,2,7)

9 is not in the range of 2 and 7

the number 5 is within the range of 2 and 7

below is if you wanted to just return a boolean

In [5]:
def cherries_jubileean(peach,little,big):
    return peach in range(little,big)

In [6]:
cherries_jubileean(7,4,9)

True

In [7]:
cherries_jubileean(8,9,11)

False

Write a python function that accepts a string and reports the number of uppercase letters and lowercase letters.

In [8]:
def bouncy_jiggly(bikini):
    little=0
    big=0
    
    for cherry in bikini:
        if cherry.isupper():
            big+=1
        elif cherry.islower():
            little+=1
        else:
            pass
    
    print(f'In our statement: {bikini}, we achieved the following:')
    print(f'There were {little} lowercase letters and {big} uppercase letters.')

In [9]:
bikini = '"Hello, Miriam, you look amazing in that bikini here on Waikiki Beach."'
bouncy_jiggly(bikini)

In our statement: "Hello, Miriam, you look amazing in that bikini here on Waikiki Beach.", we achieved the following:
There were 51 lowercase letters and 4 uppercase letters.

HERE IS THE RESULT USING A DICTIONARY:

In [54]:
def k_cup(honey):
    
    big_book = {'big':0,'little':0}
    
#    little=0
#    big=0
    
    for bubble in honey:
        if bubble.isupper():
            big_book['big'] += 1
        elif bubble.islower():
            big_book['little'] += 1
        else:
            pass
        
#    print(big_book['big'])
    print(f'In our statement: {honey}, we achieved the following:')
    print(f'There were {big_book["little"]} lowercase letters and {big_book["big"]} uppercase letters.')

In [55]:
honey = "Dang, Miriam, your daddy must have been a meat thief. He stole two hams and put them in your back pockets!"

In [56]:
k_cup(honey)

In our statement: Dang, Miriam, your daddy must have been a meat thief. He stole two hams and put them in your back pockets!, we achieved the following:
There were 79 lowercase letters and 3 uppercase letters.

Write a Python function that takes a list and returns a new list with the unique elements of the first list

In [67]:
def anima_miriam(soul):
    
#    return list(set(soul))

    unique_sunglasses = []
    for eyeball in soul:
        if eyeball not in unique_sunglasses:
            unique_sunglasses.append(eyeball)
    return unique_sunglasses

In [68]:
amazing = [11,1,1,1,1,1,1,1,1,1,1,11,11,11,11,11,11,11,7,7,7,7,7,7,7,7,7,7,7,7,7,77,77,77,77,77,77,77,77,77,77,77,77,777,777,777,777,777,777,777,777,777,777,777,8,8,8,8,8,8,8,8,8,8,8,8]

In [69]:
anima_miriam(amazing)

[11, 1, 7, 77, 777, 8]

Write a python function to multiply all of the numbers in a list

In [73]:
def fun_time(animals):
    noahs_ark = 1
    for species in animals:
        noahs_ark = noahs_ark * species
    return noahs_ark

In [76]:
animal_crackers = [7,77,777,-7,11,1111,1111111]

In [77]:
fun_time(animal_crackers)

-39808151842517751

Write a Python function that checks to see if a word or phrase is a palindrome or not

In [94]:
def spacecataz(enchilada):
    # remove the spaces from the string
    enchilada = enchilada.replace(' ','')
    # check to see if the string == to the reversed version of the string
    return enchilada == enchilada[::-1]

In [95]:
rumplestiltskin = 'never odd or even'

In [105]:
mcgeezsack = 'was it a DERP rat i saw'

In [106]:
spacecataz(rumplestiltskin)

True

In [107]:
spacecataz(mcgeezsack)

False

WRITE A PYTHON FUNCTION to check whether a string is a pangram or not

In [108]:
ariel = 'my girl wove six dozen plaid jackets before she quit'

In [125]:
import string

def tacocat(ariel,alphabet=string.ascii_lowercase):
    
    # create a set of the English alphabet
    unicorn = set(alphabet)
    print(unicorn)
    # Remove any spaces from the input string
    ariel = ariel.replace(' ','')
    # convert into all lowercase
    ariel = ariel.lower()
    # grab all unique letters from the string in a set()
    ariel = set(ariel)
    print(ariel)
    # check the alphabet set for == to string set input
    return ariel == unicorn

<module 'string' from '/Users/philhasenkamp/anaconda3/lib/python3.11/string.py'>

In [126]:
tacocat(ariel)

{'b', 'i', 't', 'c', 'h', 'q', 'n', 's', 'l', 'o', 'z', 'u', 'e', 'x', 'r', 'd', 'w', 'g', 'a', 'j', 'p', 'y', 'f', 'k', 'v', 'm'}
{'b', 'i', 't', 'c', 'h', 'q', 'n', 's', 'l', 'o', 'z', 'u', 'e', 'x', 'r', 'd', 'w', 'g', 'a', 'j', 'p', 'y', 'f', 'k', 'v', 'm'}

True

In [114]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'